<header class="flex flex-row w-full justify-between">
  <div class="flex flex-row items-center">
    @if(menuItem())
    {
      <i class="pi pi-arrow-left text-primary !text-xl
      transform transition-transform hover:scale-125 duration-200 hover:cursor-pointer mr-4"
      (click)="backtToHome()" ></i>
      <h1 class="text-surface-600 text-xl font-bold">{{menuItem()?.label}}</h1>
      <p-menubar [model]="menuItem()?.items" [dt]="amberTolbar">
      </p-menubar>
    }
  </div>
  <div class="flex items-center gap-4">
    <div class="flex gap-2">
        <p-button icon="pi pi-twitter"
        size="small"
        severity="secondary"
        pTooltip="Dark" tooltipPosition="bottom" />
        <p-button icon="pi pi-comments"
        size="small"
        severity="secondary"
        pTooltip="Dark" tooltipPosition="bottom" />
        <p-button icon="pi pi-moon"
        size="small"
        pTooltip="Dark" tooltipPosition="bottom"
        (onClick)="toggleDarkMode()" />
    </div>
    <p>Sebastian Torres</p>
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="!w-10 !h-10" />
  </div>
</header>
